{:nrepl    {:port 8777}
 :deps     true
 :dev-http {8280 "resources/public"
            8290 "target/browser-test"}
 :builds {:app {:target     :browser
                :output-dir "resources/public/js/compiled"
                :asset-path "/js/compiled"
                :modules
                {:app {:init-fn wordle.core/init}}
                :devtools
                {:preloads []}
                :dev
                {:compiler-options
                 {:closure-defines
                  {}}}}}}
